<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agendamiento tutoria</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <link href="./css/style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="script.js"></script>
    </head>

    <body class="bg-dark-subtle">
        <div>
            <div th:replace="navbar :: navbar"></div>
            <div class="contenedor-vista-agendamiento">
                <form th:action="@{/agregarAgendamiento}" th:object="${agentuto}" method="post" id="agendamientoform">
                    <div class="bg-white contenedor-agendamiento">
                        <h1 class="titulo-vista">Agendar tutoria</h1>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-4">
                                    <label for="input-FechaLimite" class="form-label">Fecha de tutoria</label>
                                    <div>
                                        <input type="date" th:field="*{fechaAgendamiento}" class="input-fecha-agendamiento">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="input-datos" class="form-label">Datos adicionales</label>
                                    <div>
                                        <textarea placeholder="Digite descripción" th:field="*{datos_adicionales}" class="input-datos-agendamiento"></textarea>
                                    </div>
                                </div>

                                <a class="boton-finalizar-citacion" onclick="document.getElementById('agendamientoform').submit()">
                                    Finalizar citación
                                </a>
                            </div>

                            <div class="col-1">
                                <hr />
                            </div>

                            <div class="col-5">
                                <div >
                                    <p><b>Información de tutoria</b></p>
                                    <b class="mb-0" th:text="${tutoriaSeleccionada.titulo}"></b>
                                    <p class="mb-0" th:text="${tutoriaSeleccionada.descripcion}"></p>
                                    <p class="mb-5"><b>Precio: <span th:text="${tutoriaSeleccionada.precio}"></span> </b ></p>
                                </div>

                                <div>
                                    <p><b>Información del tutor</b></p>
                                    <p class="mb-0"><b>Nombre: </b> <span th:text="${tutor.nombre}"></span></p>
                                    <p class="mb-0"><b>Apellido: </b><span th:text="${tutor.apellido}"></span></p>
                                    <p class="mb-0"><b>Carrera: </b><span th:text="${carrera}"></span></p>
                                    <p><b>Calificación: </b><span th:text="${tutor.promedioPuntaje}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>