
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="tutorias">
            <!-- Listado tutorias -->
            <h1 class="titulo-listado-tutoria">Solicitudes de tutorias</h1>
            <div th:if="${tutorias != null and !tutorias.empty}" class="listado-tutorias"> 
                <div
                    class="mb-3 card rounded-0 border-end-0 border-top-0 border-bottom-0 border-start border-5" th:each="tutoria, iterador: ${tutorias}">
                    <div class="card-body" >    
                        <div>
                            <h5 class="card-title" th:text="${tutoria.titulo}"></h5>
                            <p class="card-text mb-0" th:text="${tutoria.descripcion}"></p>
                            <p class="card-text">Fecha <span th:text="${tutoria.fechaLimite}"></span></p>
                        </div>

                        <div class="d-flex align-items-center gap-3 esp-card">
                            <a th:if="${tutorsesion != null && tutoria.postulacion_disponible == 1 && tutorsesion.login != usututorias[iterador.index].login}" class="text-black" data-bs-toggle="modal" th:attr="data-bs-target='#' + ${tutoria.idTutoria}" ><i
                                    class="bi bi-check-circle-fill icono-perfil-card"></i></a>
                            <i class="bi bi-person-circle icono-perfil-card"></i>
                            <div>
                                <p class="card-text mb-0">Solicitado por: <span th:text="${usututorias[iterador.index].nombre}"></span></p>
                                <p class="card-text">Precio: <span th:text="${tutoria.precio}"></span></p>
                            </div>
                        </div> 









                    </div>
                    <div class="modal fade" th:id="${tutoria.idTutoria}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <form method="post" th:action="@{agregar_notificacion?id={id}(id=${tutoria.idTutoria})}" th:id="${tutoria.idTutoria} + 'form'">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">¿Desea aceptar la tutoria <span th:text="${tutoria.titulo}"></span> ?</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div>
                                                <p class="card-text mb-0">Solicitado por: <span th:text="${usututorias[iterador.index].nombre}"></span></p>
                                                <p class="card-text">Precio: <span th:text="${tutoria.precio}"></span></p>
                                            </div> 
                                            <div class="d-flex justify-content-center">
                                                <a th:onclick="|document.getElementById('${tutoria.idTutoria}' + 'form').submit()|" class="boton-volver text-black">
                                                    Aceptar
                                                </a>
                                                <a class="boton-volver text-black" data-bs-dismiss="modal">
                                                    Rechazar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>   
                </div>


            </div>
        </div>
    </body>
</html>
